@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

body {
   background-image: url("../images/background.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   overflow-x: hidden;
}

main {
    flex: 1 0 auto
}

/*------- Navbar --------*/

.nav-wrapper {
    background-color: #bbcea8;
}

.brand-logo {
    font-family: 'Pacifico', sans-serif;
    font-size: 22px;
    color: #fff;
    text-shadow: 3px 3px 4px #444;
    margin-left: 5px;
}

.nav-wrapper li {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-shadow: 3px 3px 4px #444;
}

/*--- Flash Messages ----*/
.flashes {
    line-height: 2;
}

/*---- Hero image captions ----*/
.caption {
    text-shadow: 3px 3px 4px #444;
    font-family: 'Pacifico', sans-serif;
}

/*---- Page Titles -----*/

.page-title {
    font-family: 'Pacifico', sans-serif;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}


/*---- card panel -----*/
.card-panel {
    border-radius: 50px;
    border: 2px solid rgb(190, 166, 241);
    background-color: #e0f2f1;
}

/*---- Category Cards ----*/
.welcome-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.card-title {
    text-shadow: 3px 3px 4px #444;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.collapsible li {
    font-family: 'Roboto', sans-serif;
}

/*--- Add/edit Recipe ---*/

.ing-list {
    margin-bottom: 0;
}

.method-list {
    margin-bottom: 0;
}

.ingre-input {
    margin-bottom: 0;
}

.method-input {
    margin-bottom: 0;
}

.ingredient {
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.m-list {
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.add-ingred {
    font-size: 15px;
    color: #0070F9;
}

.add-method {
    font-size: 15px;
    color: #0070F9;
}

.remove-ing  {
    color: #FC2216;
}

.remove-ingred {
    display: none;
}

.remove-met {
    display: none;
}

.remove-method {
    font-size: 15px;
    color: #FC2216;
    display: none;
}

.collapsible-header {
    border: 2px solid rgb(190, 166, 241);
    background-color: #e0f2f1;
}

/*--- delete recipe button ----*/
.del-confirm {
    display: none;
}

/*---- recipe cards ----*/

.recipe-title {
   font-family: 'Pacifico', sans-serif;
   color: #fff;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.recipe-image {
    border-radius: 50px;
    max-height: 650px;
}



.info-card i {
    line-height: 2;
    font-size: 22px;
}

.recipe-desc {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}


.ingredient-list {
    line-height: 3;
}

/*----- 404 Error -------*/

.error-text {
    font-size: 3rem;
    color: #305D64;
}

.error-message {
    font-weight: 600;
    font-size: 18px;

}

/*---- Footer ----*/

.footer {
    background-color: #bbcea8;
}

.socials {
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.social-link {
    margin: 0px 5px;
    color: #000;
}

