@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

/*------- Navbar --------*/

html {
    min-height: 100vh;
}

body {
    background: 
        linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
        -moz-linear-gradient:(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
        -webkit-linear-gradient:(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);




}


.nav-wrapper {
    background-color: #bbcea8;
}

.brand-logo {
    font-family: 'Pacifico', sans-serif;
    font-size: 22px;
    color: #fff;
    text-shadow: 3px 3px 4px #444;
    margin-left: 5px;
}

.nav-wrapper li {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-shadow: 3px 3px 4px #444;
}

/*--- Flash Messages ----*/
.flashes {
    line-height: 2;
}

/*---- Hero image captions ----*/
.caption {
    text-shadow: 3px 3px 4px #444;
    font-family: 'Pacifico', sans-serif;
}

/*---- Search Bar -----*/
.card-panel {
    border-radius: 50px;
}

/*---- Category Cards ----*/
.welcome-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.card-title {
    text-shadow: 3px 3px 4px #444;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

/*---- Footer ----*/



