  {% extends "base.html" %}
  {% block content %}
  {% if session.user|lower == "admin"|lower %}
  <h3 class="center-align">Add Category</h3>
  <div class="container">
      <div class="row card-panel">
          <form class="col s12" method="POST" action="{{ url_for('add_category') }}">
              <!-- category name -->
              <div class="row">
                  <div class="input-field col s12">
                      <i class="fas fa-folder-open prefix text-darken-4"></i>
                      <input id="category_name" name="category_name" minlength="3" maxlength="20" type="text"
                          class="validate" required>
                      <label for="category_name">Category Name</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <i class="fas fa-folder-open prefix text-darken-4"></i>
                      <input id="image" name="image" minlength="3" type="text" class="validate" required>
                      <label for="image">Image URL</label>
                  </div>
              </div>
              <!-- submit button -->
              <div class="row">
                  <div class="col s12 center-align">
                      <button type="submit" class="btn darken-1 text-shadow center-align">
                          Add Category <i class="fas fa-plus-square right"></i>
                      </button>
                      <a href="{{ url_for('manage') }}" class="btn waves-effect waves-light green text-darken-4">
                        <i class="fas fa-times"></i> Cancel
                      </a>
                  </div>
              </div>
          </form>
      </div>
  </div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <h3 class="center-align"> Whoop's I dont think you meant to come here..</h3>
      <p class="center-align"> Click button to go back to home page</p>
      <a href="{{ url_for('index') }}" class="btn btn waves-effect waves-light lighten-1">Home</a>
    </div>
  </div>
</div>
{% endif %}

  {% endblock %}