{% extends "base.html" %}
{% block content %}

<div class="col s12">
    <div class="row">
        <h3 class="center-align page-title">Add Your Recipe</h3>
    </div>
</div>
<div class="container">
    <div class="row card-panel z-depth-5">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- category selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name|capitalize }}
                            {% endfor %}
                    </select>
                    <label for="category_name">Recipe Category</label>
                </div>
            </div>
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="recipe_title" name="recipe_title" minlength="5" maxlength="50" type="text"
                        class="validate" required>
                    <label for="recipe_title">Recipe Title</label>
                </div>
            </div>
            <!-- recipe description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="10"
                        class="materialize-textarea validate" required></textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>
            <!-- Recipe image URL input-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-link prefix light-blue-text text-darken-4"></i>
                    <textarea id="image_url" name="image_url" minlength="10" class="materialize-textarea validate"
                        required></textarea>
                    <label for="image_url">Recipe Image link ( example: https://images.unsplash.com/photo-1476718406336
                        ) </label>
                </div>
            </div>
            <!-- servings options -->
            <div class="row">
                <div class="col s12 m4">
                    <select class="transparent" name="serves" aria-label="select servings" required>
                        <option value="" disabled selected>Serves</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <!-- Prep Time -->
                <div class="col s12 m4">
                    <select class="transparent" aria-label="prep time" name="prep_time" required>
                        <option value="" disabled selected>Prep Time</option>
                        {% for n in range(5,185,5) %}
                        <option value="{{ n }}">{{ n }} mins</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Cooking Time -->
                <div class="col s12 m4">
                    <select class="transparent" aria-label="cook time" name="cook_time" required>
                        <option value="" disabled selected>Cook Time</option>
                        {% for n in range(0,185,5) %}
                        <option value="{{ n }}">{{ n }} mins</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Calories Input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-fire-alt prefix light-blue-text text-darken-4"></i>
                    <input id="kcal" name="kcal" type="text" required>
                    <label for="kcal">Calories Per Serving</label>
                </div>
            </div>
            <!-- Ingredients -->
            <h6 class="ingredient">Ingredients</h6>
            <div class="row ing-list">
                <div class="input-field col s12 ingre-input">
                    <input id="ingredients" name="ingredients" type="text" placeholder="ingredient"
                        aria-label="ingredient input" required>
                </div>
            </div>
            <div class="col s12">
                <a class="btn-floating btn waves-effect waves-light blue add-ingred"><i class="fas fa-plus"></i></a>
                <a class="btn-floating btn waves-effect waves-light red remove-ingred"><i class="fas fa-minus"></i></a>
            </div>

            <!-- Method List-->
            <h6 class="m-list">Method</h6>
            <div class="row method-list">
                <div class="input-field col s12 method-input">
                    <input id="method" name="method" type="text" placeholder="Add Method Steps"
                        aria-label="method input" required>
                </div>
            </div>
            <div class="col s12">
                <a class="btn-floating btn waves-effect waves-light blue"><i class="fas fa-plus add-method"></i></a>
                <a class="btn-floating btn waves-effect waves-light red remove-method"><i class="fas fa-minus"></i></a>
            </div>

            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn waves-effect light-blue darken-1 text-shadow">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}