{% extends "base.html" %}

{% block content %}
<!-- Image Slider -->
<div class="slider">
    <ul class="slides">
      <li>
        <img src="./static/images/index-hero.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Eat Well, Eat Healthy</h3>
          
        </div>
      </li>
      <li>
        <img src="./static/images/salad-bowl.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Beautiful Food</h3>
          
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Gorgeous Recipes</h3>
          
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome To Slimming Gusto!</h3>
          
        </div>
      </li>
    </ul>
  </div>
  <!-- Search Bar -->
  <div class="container">
      <div class="row card-panel transparent">
          <form action="{{ url_for('search') }}" method="post" class="col s12">
              <div class="row valign-wrapper center-align">
                  <div class="input-field col s12 m8">
                      <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                      <input type="text" name="query" id="query" minlength="3" class="validate" required>
                      <label for="query">Search Recipes</label>
                  </div>
                  <div class="col s12 m4">
                      <a href="{{ url_for('index') }}" class="red btn text-shadow">Reset</a>
                      <button type="submit" class="light-blue darken-1 btn text-shadow">
                          <i class="fas fa-search left"></i> Search
                      </button>
                  </div>
              </div>
          </form>
      </div>
  </div>
  
  <div class="container">
    <div class="welcome-text">
      <p class="col s12 m4 l8 center-align">
        If you want to eat great great food that won't pile on the pounds then why not try out our search bar.
        You can even sign up and share your slimming recipes.
        or why not click the pictures below for a list of recipes.
      </p>
    </div>
  </div>
  <!-- Category Card Panels -->
  <div class="container">
    <div class="row">
      {% for category in categories %}
      <div class="col s12 m6 l3">
        <div class="card">
          <a href="{{ url_for('search_page') }}">
            <div class="card-image">
              <img src="{{ category.image }}">
              <span class="card-title">{{ category.category_name|capitalize }}</span>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %} 