{% extends "base.html" %}
{% block content %}
<div class="col s12">
  <div class="row">
{% if session.user|lower == "admin"|lower %}
      <h3 class="center-align page-title">Admin Management Panel</h3>
  </div>
</div>
<div class="row">
  <h4 class="center-align">Categories</h4>
  <div class="col s12 center-align">
    <a href="{{ url_for('add_category') }}" class="btn darken-2 text-shadow">
        Add Category <i class="fas fa-plus-square right"></i>
    </a>
  </div>
  <div class="col s12 m8 offset-m2">
    <ul class="collapsible popout">
      {% for category in categories %}
      <li>
        <div class="collapsible-header z-depth-5">
          <i class="fas fa-caret-down"></i>
          <strong>{{ category.category_name }}</strong>
        </div>
        <div class="collapsible-body z-depth-5">
          <strong>testing</strong>
          <div class="row">
            <!-- edit category button -->
            <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn waves-effect waves-light green text-darken-4">
              <i class="fas fa-edit left"></i>EDIT
            </a>
            <!-- delete category button -->
            <button type="button" class="delete-btn btn waves-effect waves-light red darken-2"><i
                class="fas fa-trash-alt left"></i>DELETE</button>

            <!-- Confirm Delete Yes / No Buttons -->
            <div id="del-confirm">
              Are you sure you want to delete this category? <br>
              <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn btn waves-effect waves-light red lighten-1">Yes</a>
              <button type="button" class="cancel-delete-btn btn waves-effect waves-light">No</button>
            </div>
          </div>
        </div>
      </li>

      {% endfor %}
    </ul>
  </div>
</div>
<div class="divider"></div>
<div class="row">
  <h4 class="center-align">Recipe List</h4>
  <div class="col s12 m8 offset-m2">
    <ul class="collapsible popout">
      {% for recipe in recipes %}
      <li>
        <div class="collapsible-header z-depth-5">
          <i class="fas fa-caret-down"></i>
          <strong>{{ recipe.recipe_title }}</strong>
        </div>
        <div class="collapsible-body z-depth-5">
          <strong>{{ recipe.recipe_description }}</strong>
          <div class="row">
            <!-- edit category button -->
            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn waves-effect waves-light green text-darken-4">
              <i class="fas fa-edit left"></i>EDIT
            </a>
            <!-- delete category button -->
            <button type="button" class="delete-btn btn waves-effect waves-light red darken-2"><i
                class="fas fa-trash-alt left"></i>DELETE</button>

            <!-- Confirm Delete Yes / No Buttons -->
            <div id="del-confirm">
              Are you sure you want to delete this recipe? <br>
              <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn btn waves-effect waves-light red lighten-1">Yes</a>
              <button type="button" class="cancel-delete-btn btn waves-effect waves-light">No</button>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <h3 class="center-align"> Whoop's I dont think you meant to come here..</h3>
      <p class="center-align"> Click button to go back to home page</p>
      <a href="{{ url_for('index') }}" class="btn btn waves-effect waves-light lighten-1">Home</a>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}