{% extends "base.html" %}
{% block content %}


    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel transparent">
                <h3 class="center-align light-blue-text text-darken-4">
                    {{ username }}'s Recipes 
                </h3>
            </div>
        </div>
    </div>
    <!-- accordion to show recipes added by current user -->
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <ul class="collapsible popout transparent">
          {% for recipe in recipes %}
          <li>
            <div class="collapsible-header transparent">
              <i class="fas fa-caret-down"></i>
              <strong>{{ recipe.recipe_title }}</strong>
            </div>
            <div class="collapsible-body">
              <strong>{{ recipe.recipe_description }}</strong>
              <div class="row">
                <!-- See recipe button -->
              <a href="/categories/{{ recipe.category_name }}/{{ recipe.recipe_title }}/{{ recipe._id }}"
                class="btn waves-effect waves-light blue darken-4 text-shadow">See Recipe
                <i class="fas fa-arrow-right"></i>
              </a>
              <!-- edit recipe button -->
              <a href="#" class="btn waves-effect waves-light green text-darken-4">
                <i class="fas fa-edit left"></i>EDIT
              </a>
              <!-- delete recipe button -->
              <button type="button" class="delete-btn btn waves-effect waves-light red darken-2"><i
                  class="fas fa-trash-alt left"></i>DELETE</button>
              </div>

          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

{% endblock %}