{% extends "base.html" %}
{% block content %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 s6 center-align">
                <h2 class="text-shadow page-title"><strong>{{ recipe.recipe_title|title }}</strong></h2>
            </div>
        </div>
    </div>
</div>

<!-- Recipe section -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 m7">
                <div class="center-align">
                    <img src="{{ recipe.image_url }}" alt="recipe image" class="responsive-img recipe-image z-depth-5">
                </div>
            </div>
            <div class="col s12 m5">
                <div class="card-panel z-depth-5 recipe-desc">
                    <h4 class="center-align">Description <i class="fas fa-pencil-alt"></i></h4>
                    <p class="center-align">{{ recipe.recipe_description }}</p>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="card-panel z-depth-5 info-card">
                    <h4 class="center-align">Info <i class="fas fa-info-circle"></i></h4>
                    <ul>
                        <li>
                            <i class="far fa-folder-open"></i><span class="sr-only"> Category</span>
                            {{ recipe.category_name|capitalize }}
                        </li>
                        <li>
                            <i class="fas fa-blender"></i><span class="sr-only">Prep Time</span> Prep Time
                            {{ recipe.prep_time }}
                            mins
                        </li>
                        <li>
                            <i class="fas fa-burn"></i><span class="sr-only">Cook Time</span> Cook Time
                            {{ recipe.cook_time }}
                            mins
                        </li>
                        <li>
                            <i class="fas fa-users"></i> serves {{ recipe.serves }}
                        </li>
                        <li>
                            <i class="fas fa-balance-scale-left"></i><span class="sr-only">Kcal</span> {{ recipe.kcal }}
                            kcal
                            per serving
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m3">
                <div class="card-panel z-depth-5 info-card">
                    <h4 class="center-align">Ingredients <i class="fas fa-shopping-basket"></i></h4>
                    <ul class="text-shadow">
                        {% for ingredient in ingredients %}
                        <li class="ingredient-list">{{ ingredient|capitalize }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col s12 m9">
                <div class="card-panel z-depth-5 recipe-desc">
                    <h4 class="center-align">Method <i class="fas fa-mortar-pestle"></i> </h4>
                    <ol>
                        {% for method in method %}
                        <li>{{ method|capitalize }}</li><br>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}